ul {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
    height: 2em;
    margin: 0px;
    padding-left: 10px;
    padding-top: 4px;
}

.evenRow {
    background-color: white;
}

.oddRow {
    background-color: whitesmoke;
} 